.timeCard {
  max-width: 1100px;
}

.border1 {
  border-radius: 4px 0px 0px 4px;
}

.border2 {
  border-radius: 0px 4px 4px 0px;
}

.box {
  width: 65px;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  padding-top: 9px;
}

.listText1 {
  width: 48px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.listText2 {
  width: 68px;
  text-align: center;
  margin: 0 auto;
  line-height: 15px;
}

.listText3 {
  min-width: 68px;
  padding-top: 7px;
  text-align: center;
  margin: 0 auto;
  line-height: 15px;
}

.listText4 {
  width: 24px;
  height: 16px;
  padding-top: 13px;
  text-align: center;
  margin: 0 auto;
}

.checkBg {
  background: #d6edeb !important;
}
