@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima';
  src: url('./fonts/Proxima.otf');
}
@layer base {
  body {
    height: 100%;
    font-family: Tahoma, sans-serif;
  }
  html, #root {
    height: 100%;
  } 
  h1 {
    @apply text-secondary-500
  }
}
