.loader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: flex;
}

.loader span,
.loader span:before,
.loader span:after {
  width: 5px;
  height: 16px;
  margin: 0px;
  animation: load1 1s ease-in-out infinite;
}

.loader span:nth-child(1) {
  animation-delay: -700ms;
}

.loader span:nth-child(2) {
  animation-delay: -600ms;
  margin-left: 5px;
}

.loader span:nth-child(3) {
  animation-delay: -500ms;
  margin-left: 5px;
}

.loader span:nth-child(4) {
  animation-delay: -400ms;
  margin-left: 5px;
}

.loader span:nth-child(5) {
  animation-delay: -300ms;
  margin-left: 5px;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 16px;
  }
  20% {
    box-shadow: 0 -10px;
    height: 28px;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 16px;
  }
  20% {
    box-shadow: 0 -10px;
    height: 25px;
  }
}
